:root{
    --primary--color:hsl(238, 40%, 52%);
    --Dark-blue: hsl(212, 24%, 26%);
--Grayish-Blue: hsl(211, 10%, 45%);
--Light-gray: hsl(223, 19%, 93%);
--Very-light-gray: hsl(228, 33%, 97%);
--basic-color: hsl(0, 0%, 100%);
}

.container{
    display: flex;
    justify-content: space-between;
    background-color: var(--basic-color);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    width: 80%;  
    margin-left: 20%;

}
.content{
    margin-left: 20px;
    width: 100%;
}
.content p{
opacity: 0.7;
font-weight: bold;
line-height: 1.5;
}
.cont-div-one{
    display: flex;
    justify-content: space-between;
}
.cont-div-one-in{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
.cont-div-one-inn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont-div-one-in h3{
  font-size: 15px;
  opacity: 0.9;
  margin-left: 10px;
}
.cont-div-one-in h4{
  font-size: 15px;
  opacity: 0.7;
  margin-left: 10px;
}
.comImg{
    width: 30px;
    height: 30px;
}
.cont-div-one-inn img{
 
 margin-right: 5px;
}
.cont-div-one-inn span{
 color: var(--primary--color);
 padding: 10px;
}
.cont-div-one-inn p{
font-size: 17px;
font-weight: bold;
color:var(--primary--color) ;
}
.btnDiv{
    display: grid;
    align-items: center;
    text-align: center;
    width: 60px;
    height: 110px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    color:  var(--primary--color);
    background-color: var(--Very-light-gray);
}
.btnDiv p{
    padding-top: 7px;
    padding-bottom: 7px;
}
.btnDiv button{
 border: none;
 font-size: 20px;
 background-color: transparent;
}
.btnDiv button img{
 border: none;
 width: 13px;
 /* background-color:var(--Very-light-gray); */
}
.hidden{
    display: none;
}
.containerMobile{
    display: none;
    background-color: var(--basic-color);
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    position: relative;  
    margin-left: 0%;
}
.visible{
    display: none;
}






    @media (max-width:760px) {
        .hidden{
            display: block;
        }
        .visible{
            display: block;
        }
        .container{
            display: none;
            justify-content: space-between;
            background-color: var(--basic-color);
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 10px;
            width: 80%;  
            margin-left: 20%;
        
        }
        .containerMobile{
            display: block;
            background-color: var(--basic-color);
            margin-top: 20px;
            margin-bottom: 15px;
            padding: 10px;
            width: 100%;
            position: relative;  
            margin-left: 0%;
            border-radius: 10px;
        }
        .cont-div-one-in h3{
            margin-left: 10px;
        }
        .cont-div-one-in h4{
            margin-left: 10px;
        }
        .message{
            margin-top: 10px;
            opacity: 0.7;
            font-weight: bold;
           line-height: 1.5;
        }
        .score-btn{
            display: flex;
            justify-content: space-between;
            margin-top: 10px
        }
        .btnDiv{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            width: 110px;
            height: 40px;
            padding: 10px;
            border-radius: 10px;
            font-size: 20px;
            color:  var(--primary--color);
            background-color: var(--Very-light-gray);
            
        }
    
        .btnDiv p{
            padding-top: 7px;
            padding-bottom: 7px;
        }
        .btnDiv button{
         border: none;
         font-size: 20px
        }
        .btnDiv button img{
         border: none;
         width: 13px
        }
        form{
            width: 100%;
            margin-bottom: 10vh;
            padding: 20px;
            
        }
        form img{
            width: 40px;
            height: 35px;
            margin-right: 10px;
        }
        form div{
            display: flex;
            justify-content: space-between;
        }
        form input{
            height: 70px;
            width: 80%;
            font-size: 16px;
            padding: 15px;
            padding-bottom: 50px;
        
        }
        form button{
            width:100px;
            font-weight: bold;
            height: 40px;
            color: white;
            background-color: var(--primary--color);
            border-radius: 10px;
            border: none;
            margin-left: 10px;
            font-size: 17px;
        }
        form button:hover{
            opacity: 0.4;
        }
        .cont-div-one-inn{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .cont-div-one-inn img{
         width: 17px;
         height: 10px;
         margin-right: 5px;
        }
        .cont-div-one-inn span{
            color: var(--primary--color);
            padding: 10px;
           }
        .cont-div-one-inn p{
        font-size: 17px;
        font-weight: bold;
        color:var(--primary--color) ;
        }
        
    }
